body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: brown;
  }
  #timer {
    font-size: 48px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
  }

  #exercise {
    background-color: white;
  }

